@import '../../utils/variables';

.secondary-screen {
	width: 100%;
	margin: 100px;
	background: $color__secondary;
	border-radius: $border__radius--l;
}

.button--close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: $spacer__xl;
	right: $spacer__xl;
	width: $size__m;
	height: $size__m;
	border-radius: 50%;
	background: $color__secondary;
}