@import '../../utils/variables';

.empty-roulette-view {
    display: flex;
    flex-direction: column;
    padding: $spacer__xl;
    border-radius: $border__radius--l;
    background: $color__secondary;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .3);
}

.empty-message {
    margin-bottom: $spacer__l;
}